<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlexOffset="25" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header fxLayoutAlign="center end">
        <mat-card-title fxLayoutAlign="center end">Seleccione su Oficina</mat-card-title>
        <!-- <mat-card-subtitle>Ingrese su Usuario y Contraseña</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <mat-nav-list>
          <a mat-list-item href="#/starter" *ngFor="let l of list" (click)="selectSection(l)">{{l.name}}</a>
          <!-- <a mat-list-item href="#" (click)="selectSection(3)"> Seccional 2 </a>
          <a mat-list-item href="#" (click)="selectSection(3)"> Seccional 3</a> -->
        </mat-nav-list>
      </mat-card-content>

    </mat-card>
  </div>
  <!-- column -->
</div>
