<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <h4>{{model.procedureTypeName}}</h4>
        <!-- <button mat-raised-button color="primary" (click)="openNewPerson()" id="toggle-linear">
          Nueva Persona
        </button> -->
        <mat-horizontal-stepper [linear]="isLinear" (selectionChange)="cambioIndice($event)" [selectedIndex]="indice"
          #stepper id="stepper">
          <mat-step [stepControl]="secondFormGroup" fxLayoutWrap="wrap">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Buscar Persona</ng-template>
              <!-- <mat-accordion> -->
              <mat-expansion-panel *ngIf="attributesMargin.length > 0" [expanded]="true">
                <mat-expansion-panel-header>
                  <strong>Datos Judiciales</strong>
                </mat-expansion-panel-header>
                <div class="marginales" fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="space-between start">
                  <ng-container *ngFor="let attr of attributesMargin; let i = index;">
                    <mat-form-field *ngIf="attr.enableForEdit && ['number','text','date','time'].includes(attr.type)" fxFlex.gt-sm="45"
                      fxFlex.gt-xs="45" fxFlex="45">
                      <input matInput [type]="attr.type" [placeholder]="attr.name" [(ngModel)]="attributesMargin[i].value"
                        required [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field *ngIf="attr.enableForEdit && attr.type == 'textarea'" fxFlex.gt-sm="100"
                      fxFlex.gt-xs="100" fxFlex="100">
                      <textarea matInput [type]="attr.type" [placeholder]="attr.name" [(ngModel)]="attributesMargin[i].value"
                        required [ngModelOptions]="{standalone: true}"></textarea>
                    </mat-form-field>
                    <mat-form-field *ngIf="attr.type == 'select'" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <mat-select [placeholder]="attr.name" [ngModelOptions]="{standalone: true}" [(ngModel)]="attributesMargin[i].value">
                        <mat-option *ngFor="let doc of attr.options" [value]="doc.value">
                          {{ doc.label }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel *ngIf="actorTypes.length > 0 && !model.marginInProcess.addPerson" [expanded]="true">
                <mat-expansion-panel-header>
                  <strong>Persona</strong>
                </mat-expansion-panel-header>
                <div class="marginales" fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-form-field *ngIf="true" fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="80" style="margin-top: 10px">
                    <mat-select placeholder="Persona sobre la que se realizan cambios" [(ngModel)]="actorType"
                      [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let sec of actorTypes" [value]="sec">
                        {{ sec.actorType.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div *ngIf="!actorType.enableEdit && actorType.personCertificate" fxLayoutWrap="wrap" fxLayout="row"
                    fxLayoutAlign="space-between start" style="margin-top:15px">
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit" matInput placeholder="Apellido/s" [(ngModel)]="actorType.personCertificate.lastName"
                        required [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit" matInput placeholder="Nombre/s" [(ngModel)]="actorType.personCertificate.firstName"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <mat-select [disabled]="!actorType.enableEdit" placeholder="Tipo de Documento" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="actorType.personCertificate.docType.code">
                        <mat-option *ngFor="let doc of documentTypes" [value]="doc.code">
                          {{ doc.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                        <input matInput placeholder="Tipo de Documento" [(ngModel)]="mother.person.documentType" [ngModelOptions]="{standalone: true}">
                      </mat-form-field> -->
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit" matInput placeholder="Documento" [(ngModel)]="actorType.personCertificate.docNumber"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit" matInput type="date" placeholder="Fecha de Nacimiento"
                        [(ngModel)]="actorType.personCertificate.birth.birthDay" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <!-- <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                        <input matInput placeholder="Género" [(ngModel)]="mother.person.sex" [ngModelOptions]="{standalone: true}">
                      </mat-form-field> -->
                    <mat-radio-group [disabled]="!actorType.enableEdit" fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="40"
                      fxLayoutAlign="space-evenly center" [(ngModel)]="actorType.personCertificate.sex"
                      [ngModelOptions]="{standalone: true}">
                      <mat-radio-button value="M">Masculino</mat-radio-button>
                      <mat-radio-button value="F">Femenino</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div *ngIf="actorType.person && actorType.enableEdit && actorType.personCertificate" fxLayoutWrap="wrap"
                    fxLayout="row" fxLayoutAlign="space-between start" style="margin-top:15px">
                    <mat-form-field *ngIf="!actorType.enableEdit" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit" matInput placeholder="Primer Apellido" [(ngModel)]="actorType.person.lastName"
                        required [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field *ngIf="!actorType.enableEdit" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit" matInput placeholder="Segundo Apellido" [(ngModel)]="actorType.person.secondLastName"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>

                    <mat-form-field *ngIf="actorType.enableEdit && actorType.optionsLastName && actorType.optionsLastName.length > 0"
                      fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <mat-select [disabled]="!actorType.enableEdit" placeholder="Seleccione el Apellido"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="actorType.person.lastNames" (ngModelChange)="changeLastNames($event,'actorType')">
                        <mat-option *ngFor="let doc of actorType.optionsLastName" [value]="doc">
                          {{ doc.lastName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="actorType.enableEdit && actorType.person.lastNames" fxFlex.gt-sm="45"
                      fxFlex.gt-xs="45" fxFlex="45">

                      <mat-select [disabled]="!actorType.enableEdit" placeholder="Seleccione Segundo Apellido"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="actorType.person.secondLastName">
                        <mat-option value="">
                          - Sin Segundo Apellido -
                        </mat-option>
                        <ng-container *ngFor="let doc of actorType.person.lastNames.options">
                          <mat-option *ngIf="doc.secondLastName != ''" [value]="doc.secondLastName">
                            {{ doc.secondLastName}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit || procedureTypeCode == 'MARGINAL_ADICION_APELLIDO' || procedureTypeCode == 'MARGINAL_SUPRESION_APELLIDO'"
                        matInput placeholder="Nombre/s" [(ngModel)]="actorType.person.firstName" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <mat-select [disabled]="!actorType.enableEdit || procedureTypeCode == 'MARGINAL_ADICION_APELLIDO' || procedureTypeCode == 'MARGINAL_SUPRESION_APELLIDO'"
                        placeholder="Tipo de Documento" [ngModelOptions]="{standalone: true}" [(ngModel)]="actorType.person.docType.code">
                        <mat-option *ngFor="let doc of documentTypes" [value]="doc.code">
                          {{ doc.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                        <input matInput placeholder="Tipo de Documento" [(ngModel)]="mother.person.documentType" [ngModelOptions]="{standalone: true}">
                      </mat-form-field> -->
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit || procedureTypeCode == 'MARGINAL_ADICION_APELLIDO' || procedureTypeCode == 'MARGINAL_SUPRESION_APELLIDO'"
                        matInput placeholder="Documento" [(ngModel)]="actorType.person.docNumber" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                      <input [disabled]="!actorType.enableEdit || procedureTypeCode == 'MARGINAL_ADICION_APELLIDO' || procedureTypeCode == 'MARGINAL_SUPRESION_APELLIDO'"
                        matInput type="date" placeholder="Fecha de Nacimiento" [(ngModel)]="actorType.person.birth.birthDay"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field *ngIf="actorType.actorType.code == 'DIFUNTO'" fxFlex.gt-sm="45" fxFlex.gt-xs="45"
                      fxFlex="45">
                      <input [disabled]="!actorType.enableEdit || procedureTypeCode == 'MARGINAL_ADICION_APELLIDO' || procedureTypeCode == 'MARGINAL_SUPRESION_APELLIDO'"
                        matInput type="date" placeholder="Fecha de Defunción" [(ngModel)]="actorType.person.death.deathDay"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field *ngIf="actorType.actorType.code == 'DIFUNTO'" fxFlex.gt-sm="45" fxFlex.gt-xs="45"
                      fxFlex="45">
                      <input [disabled]="!actorType.enableEdit || procedureTypeCode == 'MARGINAL_ADICION_APELLIDO' || procedureTypeCode == 'MARGINAL_SUPRESION_APELLIDO'"
                        matInput type="text" placeholder="Causa de Defunción" [(ngModel)]="actorType.person.death.deathCause"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <!-- <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                        <input matInput placeholder="Género" [(ngModel)]="mother.person.sex" [ngModelOptions]="{standalone: true}">
                      </mat-form-field> -->
                    <mat-radio-group [disabled]="!actorType.enableEdit || procedureTypeCode == 'MARGINAL_ADICION_APELLIDO' || procedureTypeCode == 'MARGINAL_SUPRESION_APELLIDO'"
                      fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="40" fxLayoutAlign="space-evenly center" [(ngModel)]="actorType.person.sex"
                      [ngModelOptions]="{standalone: true}">
                      <mat-radio-button value="M">Masculino</mat-radio-button>
                      <mat-radio-button value="F">Femenino</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel *ngIf="actorType && ((actorType.actorType && !actorType.enableEdit) || (model.procedureTypeCode == 'MARGINAL_CURATELA' || model.procedureTypeCode == 'MARGINAL_TUTELA' ))"
                [expanded]="true">
                <mat-expansion-panel-header *ngIf="actorType && actorType.actorType">
                  <strong>{{actorType.actorType.name | titlecase}}</strong>
                </mat-expansion-panel-header>
                <div fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="space-between start">
                  <span fxFlex.gt-sm="15" fxFlex.gt-xs="15" fxFlex="15">
                    <b>Buscar Persona</b>
                  </span>
                  <mat-form-field fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
                    <input matInput placeholder="Nº Documento" [(ngModel)]="personProgenitor_1.docNumber"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-radio-group fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="40" fxLayoutAlign="space-evenly center"
                    [(ngModel)]="personProgenitor_1.sex" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button value="M">Masculino</mat-radio-button>
                    <mat-radio-button value="F">Femenino</mat-radio-button>
                  </mat-radio-group>

                  <button fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10" mat-raised-button color="primary" (click)="findProgenitor_1()">Buscar</button>
                </div>
                <div *ngIf="!personProgenitor_1.find && actorType && actorType.person && !actorType.person.id"
                  fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-checkbox #foreignMom value="true" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">Extranjero</mat-checkbox>
                  <mat-form-field *ngIf="foreignMom.checked" fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Pais de Nacimiento" [(ngModel)]="actorType.person.nationality"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </div>
                <div *ngIf="!personProgenitor_1.find && actorType && actorType.person && !actorType.person.id"
                  fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="space-between start">
                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Apellido/s" [(ngModel)]="actorType.person.lastName" required
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Segundo Apellido" [(ngModel)]="actorType.person.secondLastName"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Nombre/s" [(ngModel)]="actorType.person.firstName" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <mat-select placeholder="Tipo de Documento" [ngModelOptions]="{standalone: true}" [(ngModel)]="actorType.person.docType.code">
                      <mat-option *ngFor="let doc of documentTypes" [value]="doc.code">
                        {{ doc.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Tipo de Documento" [(ngModel)]="actorType.person.documentType" [ngModelOptions]="{standalone: true}">
                  </mat-form-field> -->
                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Documento" [(ngModel)]="actorType.person.docNumber" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput type="date" placeholder="Fecha de Nacimiento" [(ngModel)]="actorType.person.birth.birthDay"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>

                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <mat-select placeholder="Estado Civil" [ngModelOptions]="{standalone: true}" [(ngModel)]="actorType.person.civilStatus">
                      <mat-option *ngFor="let doc of civilStatus" [value]="doc">
                        {{ doc.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Género" [(ngModel)]="actorType.person.sex" [ngModelOptions]="{standalone: true}">
                  </mat-form-field> -->

                  <mat-form-field fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="45">
                    <input matInput placeholder="Domicilio" [(ngModel)]="actorType.person.address.addressLine"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-radio-group fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="40" fxLayoutAlign="space-evenly center"
                    [(ngModel)]="actorType.person.sex" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button value="M">Masculino</mat-radio-button>
                    <mat-radio-button value="F">Femenino</mat-radio-button>
                  </mat-radio-group>
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" mat-raised-button color="primary" (click)="postProgenitor_1()">Crear
                      Persona</button>
                  </div>
                </div>
                <div *ngIf="personProgenitor_1.find && actorType && actorType.person && actorType.person.id"
                  fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="center center">
                  <!-- <div *ngIf="actorType.person.optionsLastName && actorType.person.optionsLastName.length > 0"
                    fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="space-between center">

                    <mat-form-field *ngIf="actorType.person.lastNames" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
                      <input matInput readonly placeholder="Segundo Apellido" [(ngModel)]="actorType.person.lastNames.secondLastName"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <button fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" mat-raised-button color="primary" (click)="updatePerson('progenitor_1')">Actualizar</button>

                  </div> -->
                  <mat-card fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="80">
                    <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="40" fxLayoutAlign="space-evenly center">
                      <img style="height: 150px" *ngIf="actorType.person.photoBase64" [src]="'data:image;base64,' + actorType.person.photoBase64 | MarginalSafeHtml" />
                    </div>
                    <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="40">
                      <div style="width:100%">
                        {{actorType.person.lastName + ' ' + (actorType.person.secondLastName ?
                        actorType.person.secondLastName : '') + ',
                        ' + actorType.person.firstName}}
                      </div>
                      <div style="width:100%">
                        {{actorType.person.docType.name + ': ' + actorType.person.docNumber}}
                      </div>
                      <div style="width:100%">
                        Fecha de Nacimiento: {{actorType.person.birth.birthDay | date: 'dd/MM/yyyy'}}
                      </div>
                      <div style="width:100%">
                        {{actorType.person.sex == 'M' ? 'Masculino':'Femenino'}}
                      </div>
                      <button *ngIf="model.marginInProcess.addPerson" style="margin-top: 10px;" mat-raised-button color="primary"
                        (click)="addActorType()" matStepperPrevious>Agregar {{actorType.actorType.code | titlecase }}</button>
                    </div>
                    <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" fxLayoutAlign="end start">
                      <button fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" mat-button style="margin: 10px 10px 0 0;"
                        (click)="closePerson('actorType')"><i class="material-icons">
                          close
                        </i></button>
                    </div>
                  </mat-card>
                </div>

              </mat-expansion-panel>
              <mat-card style="margin:15px 0 0 0" *ngIf="model.people && model.people.length > 0 && model.marginInProcess.addPerson">
                <mat-card-content fxLayout="column">
                  <!-- Row -->
                  <span fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="display: block;">
                    <b>Personas Involucradas</b>
                  </span>

                  <mat-list fxFlex.gt-sm="90" fxFlex.gt-xs="90" fxFlex="90" fxLayoutWrap="wrap">
                    <ng-container style="display:block" *ngFor="let row of model.people">
                      <!-- <mat-list-item> -->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="row.status != 'OWNER_CERTIFICATE' && row.status != 'DELETE_CERTIFICATE'"
                        style="margin: 20px 0 10px 0" fxLayoutWrap="wrap" fxLayoutAlign="center center">
                        <div fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="80">
                          <strong>{{row.actorType.code | titlecase}} </strong> : {{row.person.lastName + ' ' +
                          (row.person.secondLastName ?
                          row.person.secondLastName
                          : '') + ', ' + row.person.firstName}} - {{row.person.docType.name + ': '
                          +row.person.docNumber
                          + ' - ' +
                          (row.person.sex
                          == 'M' ? 'Masculino' : 'Femenino')}}

                        </div>
                        <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" fxLayoutAlign="center center">
                          <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="deleteActorType(row)"
                            matStepperPrevious>Eliminar</button>
                        </div>
                        <div fxFlex.gt-sm="80" fxFlex.gt-xs="100" fxFlex="100">
                          <mat-divider *ngIf="row.status != 'OWNER_CERTIFICATE' && row.status != 'DELETE_CERTIFICATE'"
                            style="left:10px;width:75%;"></mat-divider>
                        </div>
                      </div>
                      <!-- </mat-list-item> -->
                    </ng-container>
                  </mat-list>
                </mat-card-content>
              </mat-card>
              <mat-card style="margin:15px 0 0 0" *ngIf="model.people && model.people.length > 0 && model.marginInProcess.addPerson">
                <mat-card-content fxLayout="column">
                  <!-- Row -->
                  <span fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="display: block;">
                    <b>Personas Eliminadas</b>
                  </span>

                  <mat-list fxFlex.gt-sm="90" fxFlex.gt-xs="90" fxFlex="90" fxLayoutWrap="wrap">
                    <ng-container style="display:block" *ngFor="let row of model.people">
                      <!-- <mat-list-item> -->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="row.status == 'DELETE_CERTIFICATE'"
                        style="margin: 20px 0 10px 0" fxLayoutWrap="wrap" fxLayoutAlign="center center">
                        <div fxFlex.gt-sm="80" fxFlex.gt-xs="80" fxFlex="80">
                          <strong>{{row.actorType.code | titlecase}} </strong> : {{row.person.lastName + ' ' +
                          (row.person.secondLastName ?
                          row.person.secondLastName
                          : '') + ', ' + row.person.firstName}} - {{row.person.docType.name + ': '
                          +row.person.docNumber
                          + ' - ' +
                          (row.person.sex
                          == 'M' ? 'Masculino' : 'Femenino')}}

                        </div>
                        <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" fxLayoutAlign="center center">
                        </div>
                        <div fxFlex.gt-sm="80" fxFlex.gt-xs="100" fxFlex="100">
                          <mat-divider *ngIf="row.status == 'DELETE_CERTIFICATE'" style="left:10px;width:75%;"></mat-divider>
                        </div>
                      </div>
                      <!-- </mat-list-item> -->
                    </ng-container>
                  </mat-list>
                </mat-card-content>
              </mat-card>
              <!-- </mat-accordion> -->
              <div style="text-align: right; margin:20px 0 0 0;">
                <button mat-raised-button color="warn" (click)="cancelMargin()" matStepperPrevious>Cancelar Marginal</button>
                <button mat-raised-button color="primary" (click)="updateProcedure()">Siguiente</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup" fxLayoutWrap="wrap" fxLayout="row">
              <ng-template matStepLabel>Documentación</ng-template>
              <h5>Documentación</h5>
              <div style="width: 100%" class="example-container">
                <mat-table #table [dataSource]="dataSource">
                  <!-- Name Column -->
                  <ng-container matColumnDef="Archivo">
                    <mat-header-cell *matHeaderCellDef> Archivo </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="margin-right: 10px"> {{element.name}} <b *ngIf="element.digitalized">
                        (Digitalizado) </b></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Obligatorio">
                    <mat-header-cell *matHeaderCellDef> Obligatorio </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="margin-right: 10px"> {{element.required ? 'OBLIGATORIO'
                      : 'OPCIONAL'}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index" fxLayoutWrap="wrap">
                      <!-- <mat-icon matTooltip="Editar!" matTooltipPosition="above" (click)="editMargin(element,i)" style="color:#72d487;cursor:pointer">edit
                      </mat-icon> -->
                      <!-- <mat-icon matTooltip="Eliminar!" matTooltipPosition="above" (click)="deleteFiles(element)" style="color:#ff6868;cursor:pointer">delete_forever
                      </mat-icon> -->
                      <!-- <button *ngIf="!element.digitalized" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70"
                        mat-raised-button color="primary" (click)="digitalize(element)">Digitalizar</button> -->

                      <!-- <button *ngIf="element.digitalized" fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="70"
                        mat-raised-button color="warn" (click)="digitalize(element)">Digitalizar Nuevamente</button>
                      <button style="margin-top:5px;" *ngIf="element.digitalized" fxFlex.gt-sm="70" fxFlex.gt-xs="70"
                        fxFlex="70" mat-raised-button color="primary" (click)="digitalize(element,true)">Agregar Página</button> -->

                      <mat-icon *ngIf="btnDownloadAttach(element)" matTooltip="Descargar Documento!" matTooltipPosition="above"
                        (click)="downloadDocument(element)" style="color:#459ef1c5;cursor:pointer;font-size:25px;margin:0 5px 0 5px;">file_download
                      </mat-icon>
                      <mat-icon *ngIf="element.digitalized && !btnDownloadAttach(element)" matTooltip="Visualizar Documentación Escaneada!"
                        matTooltipPosition="above" (click)="getDocument(element)" style="color:#4556f1c5;cursor:pointer;font-size: 25px;margin:0 5px 0 5px;">remove_red_eye
                      </mat-icon>
                      <mat-icon *ngIf="element.digitalized && element.validAddPage" matTooltip="Adicionar Documentación!"
                        matTooltipPosition="above" (click)="digitalize(element,true)" style="color:#45f1a9c5;cursor:pointer;font-size: 25px;margin:0 5px 0 5px;">note_add
                      </mat-icon>
                      <mat-icon *ngIf="!element.digitalized" matTooltip="Digitalizar Documentación" matTooltipPosition="above"
                        (click)="digitalize(element)" style="color:#45c9f1c5;cursor:pointer;font-size: 30px;margin:0 5px 0 5px;">scanner
                      </mat-icon>
                      <mat-icon *ngIf="element.digitalized" matTooltip="Eliminar Documento Digitalizado!"
                        matTooltipPosition="above" (click)="deleteFilesDoc(element)" style="color:#f14545c5;cursor:pointer;font-size:25px;margin:0 5px 0 5px;">delete_forever
                      </mat-icon>
                      <mat-icon *ngIf="!element.digitalized" matTooltip="Adjuntar Archivo!" matTooltipPosition="above"
                        (click)="addFileAttachment(element)" style="color:#4595f1c5;cursor:pointer;font-size:25px;margin:0 5px 0 5px;">attach_file
                      </mat-icon>
                      <!-- <sup style="font-size: 10px;font-weight: bold;">{{'('+element.fileCount+')'}}</sup>
                      <input [id]="'file-input' + i" type="file" name="name" multiple style="display: none;" (change)="uploadFiles($event,element.id,i)"
                      /> -->
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;let i = index;"></mat-row>
                </mat-table>
                <!-- ELEMENTO FILE -->
                <input [id]="'file-input'" type="file" name="name" style="display: none;" (change)="uploadFilesAttachment($event)" />
              </div>

              <mat-card *ngIf="documentScanned.base64" style="margin-top:20px; width: 100%" fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="end start">
                  <button fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10" mat-button style="margin: 10px 10px 0 0;"
                    (click)="closePreviewDoc()"><i class="material-icons">
                      close
                    </i></button>
                </div>
                <app-image-viewer fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" *ngIf="documentScanned.base64"
                  [images]="[documentScanned.base64]" [idContainer]="'idOnHTML4'" [loadOnInit]="true"></app-image-viewer>
              </mat-card>
              <div style="text-align: right;margin:20px 0 0 0;" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <button mat-raised-button color="primary" (click)="backStep()">Atras</button>
                <button mat-raised-button color="primary" (click)="updateProcedure()">Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="fifthFormGroup">
            <form [formGroup]="fifthFormGroup">
              <ng-template matStepLabel>Finalización</ng-template>
              <div>
                <span *ngIf="!validate">
                  Valide el Marginal antes de Finalizar.
                </span>
                <span *ngIf="validate">
                  Finalice su Marginal para poder continuar.
                </span>
              </div>
              <!-- <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <strong>Observación</strong>
                </mat-expansion-panel-header>
                <mat-form-field fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="margin-top: 25px; display: block;font-size: 14px;">
                  <textarea matInput placeholder="Observaciones" rows="5" [(ngModel)]="model.observations"
                    [ngModelOptions]="{standalone: true}" #observations></textarea>
                </mat-form-field>
              </mat-expansion-panel> -->

              <mat-expansion-panel *ngIf="pdfValidate.pdfDraftBase64" [expanded]="true">
                <mat-expansion-panel-header>
                  <strong>Marginal</strong>
                </mat-expansion-panel-header>
                <app-image-viewer *ngIf="pdfValidate.pdfDraftBase64 && !pdfCertificate.pdfDraftBase64" [images]="[pdfValidate.pdfDraftBase64]"
                  [idContainer]="'idOnHTML'" [loadOnInit]="true"></app-image-viewer>

                <app-image-viewer *ngIf="pdfCertificate.pdfDraftBase64" [images]="[pdfCertificate.pdfDraftBase64]"
                  [idContainer]="'idOnHTML2'" [loadOnInit]="true"></app-image-viewer>
              </mat-expansion-panel>
              <!-- <pdf-viewer [src]="'iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=='" [render-text]="true" style="display: block;"></pdf-viewer> -->
              <!-- <div style="text-align: right;margin:20px 0 0 0;">
                <button mat-raised-button color="primary" matStepperPrevious>Atras</button>
                <button mat-raised-button color="primary" (click)="updateProcedure()">Siguiente</button>
              </div> -->

              <div style="text-align: right;margin:20px 0 0 0;">
                <button mat-raised-button color="primary" *ngIf="!finalizado" (click)="backStep()">Atras</button>
                <button mat-raised-button color="primary" *ngIf="!finalizado" matStepperReset (click)="resetStepper(stepper)">Limpiar</button>
                <button mat-raised-button color="primary" *ngIf="!finalizado" (click)="updateProcedure(true)">Validar</button>
                <button mat-raised-button color="primary" *ngIf="validate && !finalizado" matStepperReset (click)="finalizarTramite()">Finalizar</button>
                <button mat-raised-button color="primary" *ngIf="finalizado" (click)="nextStep()">Continuar con el
                  Trámite</button>
                <button mat-raised-button color="primary" *ngIf="finalizado" (click)="backToInbox()">Volver a la
                  Bandeja</button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>