.dialog-list {
  text-decoration: underline;
  font-weight: bold;
}
mat-row:nth-child(even) {
  background-color: #f4f6f7;
}

mat-row:nth-child(odd) {}

mat-header-row {
  font-size: 13px;
  border-bottom: 1px solid #1e88e5;
}
mat-header-cell{
  font-size: 13px;
}
